<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <!-- Logo -->
  <a class="navbar-brand justify-content-center" routerLink="">
    <img src="https://www.quickbima.com/favicon.ico" alt="QB" style="width: 40px" />
  </a>
  <!-- Toggler/ollapse icon -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
     </button>
    
  <!-- Links -->
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="booked" routerLinkActive="active">Booked</a>
        </li> -->
      </ul>
  </div>
</nav>